.rmbt-card-news-article {
  .col();
  .size(10);
  margin: 0 auto @row_gap_between_cards auto;
  //   padding: 20px 20px 20px 20px;
  padding: @col_gap_between_cards;

  box-sizing: border-box;

  //   border: 1px solid #0515fd;

  header {
    .section-title {
      font-size: 20px;
      padding-bottom: 10px;
      width: 80%;
      margin: 0 auto 20px auto;
    }
  }

  &__body {
  }

  &__img {
    width: 600px;
    height: 300px;
    margin: 0 auto 20px auto;
  }

  &__text {
    font-size: 18px;
    font-family: OpenSans;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    color: #5a5a5a;
    word-wrap: break-word;

    margin: 0 auto 10px auto;
  }

  footer {
    padding-right: 60px;
    //  border: 1px solid #0515fd;
  }
}
