h2.section-title {
  font-size: 18px;

  font-family: Montserrat;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 24px;
  color: @color_title_light;

  font-size: 34px;
  margin-top: 0px;

  position: relative;
  padding-bottom: 20px;

  &:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 25%;
    height: 2px;
    background-color: @color_logo_text_green;
  }
}
