.page-title,
.section-title {
  .adaptive-prop(font-size, 34, 18) !important;
  font-family: Montserrat;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 120% !important;
  color: @color_title_light;
  position: relative;
  padding-bottom: 10px;
  margin: 0px auto 20px auto;
  width: max-content !important;
  max-width: 100%;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -0%);

    width: 50%;
    height: 2px;
    background-color: @color_logo_text_green;
  }
}
