.rmbt-contacts {
  display: flex;
  flex-direction: column;
  row-gap: @row_gap_between_cards;

  a {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: all 0.5s ease-out;

    &:hover {
      transform: scale(1.03);
      transition: all 0.5s ease-out;
    }
  }

  ul {
    list-style-type: none;
    margin-top: 0;
  }

  &__row {
    .row-flex();

    justify-content: center;
  }

  &__col {
    .col();
    .size(6);
    position: relative;

    min-width: 280px;

    .to(670px,{
    width:100%
    });

    &:first-child {
      // .size(5);
    }

    .rmbt-benefit-article {
      min-width: 280px;
      overflow: hidden;

      .to(655px,{
        min-width: 355px;
      });

      .to(480px,{
        min-width: 280px;
        h3 {
          text-align: center !important;
        }
        });

      .rmbt-benefit-article__wrap-content {
        .to(480px,{
          justify-content: center;
          *{
            text-align: center;
          }
      });

        h3,
        div {
          text-align: left;
        }
        ul {
          margin: 0px 0px 0px 0px;
          padding: 0px 0px 0px 0px;
          list-style-type: none;
        }

        p {
          text-indent: 0px;
        }
      }
    }
  }

  &__departments {
    display: flex;
    flex-direction: column;
    row-gap: @row_gap_between_cards;

    .to(768px,{
      padding: 0px 0px 0px 0px;
    
    });

    .to(655px,{
        align-items: center;
      });

    .selling-department,
    .service-department {
      display: flex;
      flex-wrap: wrap;
      column-gap: @col_gap_between_cards * 0.5;
      row-gap: @col_gap_between_cards * 0.5;

      position: relative;
      padding-bottom: 20px;

      .to(655px,{
        justify-content:center;
      });

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, 0%);

        width: 80%;
        height: 2px;
        background-color: @color_logo_text_green;
      }

      h3 {
        flex-basis: 100%;
        margin-top: 0px;
      }
    }
  }

  .rmbt-contacts-feedback-form {
    display: flex;
    flex-wrap: wrap;
    column-gap: @col_gap_between_cards;
    margin-bottom: @row_gap_between_cards;
    width: 100%;
    box-sizing: border-box;

    overflow: hidden;
    row-gap: 20px;

    .to(480px,{
      flex-direction:column;
    });

    &__input-wrap {
      display: flex;
      flex-direction: column;
      justify-content: start;
      row-gap: 20px;
      flex-basis: 40%;
      flex-grow: 1;
      border-radius: 10px;

      .adaptive-prop(min-width, 270, 120);

      p {
        display: block;
        position: relative;
        margin: 0px 0px 0px 0px;
        width: 100%;
        height: 30px;

        svg {
          width: 20px;
          height: 20px;
          z-index: 2;

          fill: @color_title_light;
          stroke: @color_title_light;

          position: absolute;
          left: 7px;
          top: 50%;
          transform: translate(0%, -50%);
        }

        .wpcf7-form-control-wrap {
          position: absolute;
          left: 0%;
          top: 0%;

          width: 100%;

          input {
            position: absolute;
            left: 0%;
            top: 0%;
            height: 30px;
            width: 100%;
            box-sizing: border-box;
            padding-left: 35px;
            border-radius: 10px;
            border: 1px solid #b3b3b3;
            box-shadow: 1px 5px 15px 0px #d5c9c9;

            &:focus {
              outline: none;
              border: 1px solid #ffa74b;
              box-shadow: 0 0 0 1px @color_title_light;
            }
          }
        }

        // .wpcf7-spinner {
        //   width: 15px;
        // }
      }

      .submit-wrap {
        position: relative;
        margin-top: 20px;
        // margin-bottom: 20px;
      }
      .rmbt-impex-button {
        position: absolute;
        right: 0%;
        top: 0%;
        border: 1px solid #b3b3b3 !important;
        box-shadow: 1px 5px 15px 0px #b5aeae;

        .adaptive-prop(width, 210, 150);
      }
    }

    &__textarea-wrap {
      flex-basis: 40%;
      flex-grow: 1;

      .adaptive-prop(min-width, 270, 120);

      p {
        margin: 0px 0px 0px 0px;
        position: relative;
        text-indent: 0px;

        svg {
          width: 20px;
          height: 20px;

          fill: @color_title_light;
          stroke: @color_title_light;

          position: absolute;
          left: 7px;
          top: 7px;
          transform: translate(0%, 0%);
          z-index: 2;
        }

        span {
          // position: absolute;
          // left: 0%;
          // top: 0%;
          width: 100%;

          textarea {
            // position: absolute;
            // left: 0%;
            // top: 0%;
            width: 100%;
            height: 280px;
            max-height: 280px;
            text-indent: 25px;
            // resize: vertical;
            resize: none;
            padding: 10px 10px 10px 10px;
            color: inherit;
            border-radius: 10px;
            border: 1px solid #b3b3b3;
            box-shadow: 1px 5px 15px 0px #d5c9c9;
            box-sizing: border-box;

            &:focus {
              outline: none;
              border: 1px solid #ffa74b;
              box-shadow: 0 0 0 1px @color_title_light;
            }
          }
        }
      }
    }

    .to(1180px,{
      justify-content: flex-end;
    });

    .rmbt-impex-button {
      .to(480px,{
          margin: 0 auto;
        });
    }
  }

  &__post-address {
    margin-top: 120px;
    text-align: right;
    font-size: 20px;
    font-weight: 400;

    .to(670px,{
      margin-top: 0px;

    });
  }

  .rmbt-contacts-map {
    .size(12);
    margin: 0 auto;

    iframe {
      width: 100%;
    }
  }
}

.rmbt-benefit-article {
  &__wrap-content {
    flex-grow: 1;
  }

  &__body {
    p {
      margin: 0px 0px 0px 0px;
    }
  }
}
