.rmbt-single-bakery-full-width {
}
.rmbt-container {
}
.rmbt-single-bakery {
  &__row {
    .row-flex();
    flex-direction: column;
    row-gap: @row_gap_between_cards;
  }
}
.rmbt-technology-card {
  .col();
  .size(8);
  height: 450px;
  margin: 0 auto;

  .wrap-img {
  }
}

.wrap-bakery-equipment {
  .col();
  .size(12);

  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  column-gap: 30px;
  row-gap: 30px;

  .rmbt-equipment-article {
    margin: 0px 0px 0px 0px;
    .size(3);
  }
}
