.rmbt-single-bakery-full-width {
}
.rmbt-container {
}
.rmbt-single-bakery {
  &__row {
    .row-flex();
    flex-direction: column;
    row-gap: @row_gap_between_cards;
  }
}
.rmbt-technology-card {
  .col();
  .size(10);
  aspect-ratio: 16/9;
  margin: 0 auto;

  .to(480px,{
  .size(12);

});
}

.wrap-bakery-equipment {
  .col();
  .size(12);

  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  column-gap: 30px;
  row-gap: 30px;

  .to(480px,{
    justify-content: center;
  
  });

  .rmbt-equipment-article {
    margin: 0px 0px 0px 0px;
    .size(3);

    min-width: 300px;
  }
}
