.rmbt-clients-portfolio {
  &__row {
    .row-flex();
  }

  &__col {
    .col();
    .size(10);
    margin: 0px auto;
  }
}
.rmbt-clients-portfolio-swiper {
  height: 130px;

  position: relative;

  .swiper-slide {
    width: max-content !important;

    .rmbt-clients-portfolio-swiper__wrap-img {
      width: 300px;
      height: 100%;

      img {
        object-fit: none !important;
      }
    }
  }
}
