.rmbt-full-width-footer {
  margin-top: auto;

  background-color: rgb(214, 214, 214);
}
.rmbt-container {
}
.rmbt-footer {
  height: 200px;

  /* .rmbt-footer__row */

  &__row {
    .row-flex();
  }

  /* .rmbt-footer__col */

  &__col {
  }

  /* .rmbt-footer__body */

  &__body {
  }
}
