.rmbt-full-width-footer {
  background-color: @color_header_background_light;
  min-height: 150px;
  padding-left: 0;
  padding-right: 0;
}
.rmbt-footer {
  height: 100%;
  color: @color_font_footer_light;
  a {
    color: @color_font_footer_light;
    text-decoration: none;
    display: inline-block;
    // text-align: left !important;

    &:hover {
      transform: scale(1.005);
      color: #dde0e7;
    }
  }
  &__row {
    .row-flex();
    padding: 20px 0px 20px 0px;
    min-height: 150px;

    .to(1024px,{

    });

    .to(768px,{
    padding-left: 10px;
    padding-right: 10px;
    });

    .to(400px,{
      padding-top: 0px;
    });
  }

  &__col {
    .col();
    .size(10);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .to(860px,{
      .size(12);
    });

    .to(520px,{
      flex-wrap: wrap;
    });

    .to(400px,{
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      row-gap: 20px;
    });
  }

  &__about {
    .col();
    .size(4);
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    position: relative;

    padding-bottom: 60px;

    .to(1024px,{
      .adaptive-prop(width, 460, 100);
    });

    .to(1024px,{
      flex-direction: column;
      align-items: center;
    });

    .to(768px,{
      margin-left: 0px;
      margin-right: 0px;
    });

    .to(520px,{
        flex-direction: row;

        width: 100%;
        flex-grow: 1;
        order: 2;
      });

    a.custom-logo-link {
      display: block;
      margin-left: 0px;
      min-width: 80px;
      min-height: 80px;
      max-width: 100px;
      max-height: 100px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: left;
      max-height: 65%;

      .to(1024px,{
      align-items: center;
    });

      h3 {
        .to(1024px,{

          margin-top: 0px;
          margin-bottom: 5px;
        });
      }
      span {
        text-align: left;

        .to(1024px,{
        text-align: center;
    });
      }
    }
  }

  &__nav {
    .col();
    flex-grow: 1;

    .to(1024px,{

    });

    .to(520px,{
        flex-basis: 40%;
        flex-grow: 1;
        order: 1;
        margin-left: 0px;
        margin-right: 0px;
    });

    .rmbt-cont-vertical-menu {
      nav {
        ul {
          list-style: none;
          padding: 0px 20px 0px 20px;

          display: flex;
          flex-direction: column;
          align-items: center;

          .to(400px,{

            padding-left: 0px;
            padding-right: 0px;
          });

          li {
            line-height: 130%;
            margin-bottom: 5px;
            &:last-child {
              margin-bottom: 0px;
            }

            a {
              font-size: 14px;
              font-family: OpenSans;
              font-weight: 400;
              margin-left: 0;
              text-decoration: none;

              text-align: center;
              width: 100%;
            }
          }
        }
      }
    }

    // .to(768px,{

    // });
  }

  &__contacts {
    .col();
    .size(4);

    .to(1024px,{
      .adaptive-prop(width, 460, 100);
      flex-grow: 1;
    });

    .to(768px,{
      margin-left: 0px;
      margin-right: 0px;
    });

    .to(520px,{
        flex-basis: 40%;
        flex-grow: 1;
    });

    .to(400px,{
      width: 100%;

      order: 3;
    });

    .text {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 10px;
      width: 100%;
      padding: 20px 0px 0px 0px;
      overflow: hidden;

      .to(400px,{
        
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        column-gap: 5px;
        row-gap: 10px;
        padding: 0px 0px 0px 0px;
      });

      span {
        display: block;
        line-height: 20px;
        text-align: right;

        .adaptive-prop(font-size, 16, 12);

        .to(520px,{
        font-size: 16px;
      });

        .to(400px,{
        flex-basis: 40%;
        flex-grow: 1;
        text-align: left;
        font-size: 13px;
    });
      }

      ul {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;

        .to(400px,{
          flex-basis: 40%;
          flex-grow: 1;
          font-size: 13px;
    });

        li {
          list-style: none;
          margin-bottom: 5px;
          &:last-child {
            margin-bottom: 0px;
          }

          a {
            .to(400px,{
              flex-basis: 100%;
              text-align: right;
            });
          }
        }
      }
      a {
        margin-left: 0px;
        display: block;

        .to(400px,{
          flex-basis: 100%;
          text-align: center;
    });
      }
    }
  }
}

.rmbt-social-net-icons {
}
.rmbt-copyright {
  height: 30px;

  font-size: 13px;
  font-family: Montserrat;
  font-weight: 300;
  text-align: center;
  color: rgb(143, 149, 161);
  line-height: 30px;
  background-color: @color_header_background_dark;
}

#menu-rmbt_footer-equipment_ukr {
  // временно!!
  li:first-child {
    // временно для редактирования контента
    a {
      color: red;
    }
  }
}
