.rmbt-page-header {
}

.rmbt-top-row-bg {
  background-color: #10252e;
}
.rmbt-top-row {
  .row-flex();
  justify-content: space-between;
  align-items: center;

  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #10252e;

  svg {
    width: 15px;
    height: 15px;
    // margin-right: 7px;

    stroke: #fff;
    fill: #fff;
  }
  a,
  span {
    color: inherit;
    margin-left: 7px;
    text-decoration: none;
  }
}
.rmbt-sales-department-phones {
  .col();
  .size(7);
  height: 40px;
  display: flex;
  align-items: center;
}
.rmbt-service-department-phones {
  .col();
  .size(5);
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.rmbt-bottom-row-bg {
  border: 1px solid #0515fd;
}

.rmbt-bottom-row {
  .row-flex();
  align-items: center;
  padding: 5px 0px 5px 0px;
  min-height: 60px;

  a.custom-logo-link {
    display: block;

    .col();
    .size(1);
    .shift-left(1);

    img {
      width: 100%;
      height: auto;
    }
  }

  // }
}
