.rmbt-page-header {
}

.rmbt-top-row-bg {
  background-color: #10252e;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%, -0);
  z-index: 10;
  width: 100%;
}
.rmbt-top-row {
  .row-flex();
  justify-content: space-between;
  align-items: center;

  color: #fff;
  .adaptive-prop(font-size, 16, 12);

  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #10252e;

  svg {
    width: 15px;
    height: 15px;
    // margin-right: 7px;

    stroke: #fff;
    fill: #fff;
  }
  a,
  span {
    color: inherit;
    margin-left: 7px;
    text-decoration: none;
  }
}
.rmbt-sales-department-phones {
  .col();
  .size(7);
  height: 40px;
  display: flex;
  align-items: center;
}
.rmbt-service-department-phones {
  .col();
  .size(5);
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.rmbt-bottom-row-bg {
  margin-top: 50px;
}

.rmbt-bottom-row {
  .row-flex();
  align-items: center;
  padding: 5px 0px 5px 0px;
  min-height: 60px;

  a.custom-logo-link {
    display: block;

    .col();
    .size(1);
    .shift-left(1);

    img {
      width: 100%;
      height: auto;
    }
  }

  .cont-horizont-menu {
    font-size: 15px;
    font-family: OpenSans;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;

    .col();
    .size(9);
    .shift-left(1);

    .menu-impexmash-container {
      padding-right: 40px;

      > ul {
        max-width: 100%;

        li {
          a {
            color: @color_title_light;

            display: inline-block;
            width: max-content;
          }

          &:first-child {
            // временно для редактирования контента
            a {
              color: red;
            }
          }

          &:hover a {
            // color: @color_logo_background;
          }
        }
      }
    }

    .drop-cont,
    .overflow-cont {
      top: 100%;
      transform: translate(0, 0);
      align-items: flex-start;

      max-width: 200px;
      background-color: #fff;
      border: 1px solid #fff;

      li {
        max-width: 250px;
        padding-right: 10px;

        a {
          word-wrap: break-word;
          max-width: 100%;
          text-align: left;
          display: block;
        }
      }
    }

    .icon-overflow {
      height: 50%;

      span,
      &:after,
      &:before {
        height: 6px;
        width: 6px;
      }
    }

    .icon-drop {
      width: 10px;
      height: 15px;
      border: none;

      &:after,
      &:before {
        background-color: rgb(63, 62, 62);
      }
    }
  }

  // }
}

.rmbt-bottom-row-bg,
.rmbt-top-row-bg {
  a {
    &:hover {
      scale: 1.02;
      transition: 0.3s ease-in-out;
    }
  }
}
