.rmbt-introduction {
  &__row {
    .row-flex();
  }

  &__articles-col {
    .col();
    .size(6);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
    row-gap: 30px;

    height: min-content;
  }
  &__img-col {
    .col();
    .size(6);
    height: auto;
    min-height: 400px;

    margin-bottom: 0px;
  }
  article {
    font-size: 14px;
    font-family: OpenSans;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    color: rgb(90, 90, 90);
    width: min-content;
    flex-grow: 1;

    svg {
      width: 25px;
      height: 25px;
      margin-right: 10px;

      fill: @color_logo_background;
      stroke: @color_logo_background;
    }

    h2 {
      margin-top: 0px;
    }
  }
  article:first-child {
    width: 100%;
    height: min-content;
  }
}
