.rmbt-introduction {
  &__row {
    .row-flex();
    position: relative;
    min-height: 400px;

    .to(700px,{
      justify-content: center;
    });

    ul {
      word-wrap: initial;
      padding: 0px 0px 0px 0px;
    }
  }

  &__articles-col {
    .col();
    .size(6);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
    row-gap: 30px;
    height: min-content;

    .to(960px,{
    .size(8);
    });

    .to(700px,{
    .size(12);
    });

    .to(480px,{
      flex-direction:column;
      align-items: center;
      flex-wrap: nowrap;
    });

    .section-title {
      .adaptive-prop(font-size, 34, 28);

      .to(1024px,{
        margin: 10px 10px 10px 10px !important; 
        text-align: center;
      });

      .to(700px,{
        margin: 0 auto !important; 
        .size(12);
      });

      &:after {
        width: 50%;
      }
    }
  }

  &__img-col {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    .adaptive-prop(width, 705, 300);
    .adaptive-prop(height, 400, 300);

    .to(1024px,{
      .adaptive-prop(width, 705, 200);
      .adaptive-prop(height, 400, 200);
      margin: 10px 10px 10px 10px; 
    
    });

    .to(700px,{
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0px 0px 0px 0px; 
      width: 100%;
      height: 400px;

      &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
      }
    });
  }
  .rmbt-benefit-article {
    font-size: 14px;
    font-family: OpenSans;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    color: rgb(90, 90, 90);
    width: min-content;
    flex-grow: 1;

    overflow: hidden;

    h2 {
      margin-top: 0px;
      text-align: left;

      &:after {
        left: 0px;
        transform: translate(-0%, -0%);
      }
    }
    &:first-child {
      width: 100%;
      height: min-content;
    }
  }
}
