.main-slider-screen {
  position: relative;
  .adaptive-prop(height, 600, 200);

  &__wrap-img {
    .adaptive-prop(width, 600, 300);
    .adaptive-prop(height, 600, 200);
  }

  .swiper-slide {
    background-color: @color_background_pages;
    width: 100% !important;

    margin-bottom: 5px;
  }

  &__pagination {
    position: absolute;
    bottom: 10px;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    width: max-content !important;
    padding: 5px 10px 5px 10px;
    z-index: 5;

    .swiper-pagination-bullet {
      height: 12px;
      width: 12px;
      position: relative;
      background-color: @color_background_pages;
      border: 3px solid @color_logo_background;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%;-50%);
        width: 55%;
        height: 55%;
        background-color: @color_logo_background;
        border-radius: 50%;
      }
    }

    .swiper-pagination-bullet-active {
      border: 2px solid @color_logo_text_green;
    }
  }

  .site-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -20%);
    display: flex;
    flex-direction: column;
    // row-gap: 10px;
    .adaptive-prop(row-gap, 10, 5);

    // width: 700px;
    .adaptive-prop(width, 700, 300);
    .adaptive-prop(height, 250, 100);

    // height: 250px;
    z-index: 2;

    &__title {
      font-family: Montserrat;
      position: relative;
      padding-bottom: 10px;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 55%;
        height: 3px;
        background-color: @color_logo_text_green;
      }

      h1 {
        .adaptive-prop(font-size, 35, 20);

        font-weight: 700;
        color: @color_font_dark;
        text-align: right;
        margin: 0px 0px 0px 0px;

        span {
          .adaptive-prop(font-size, 50, 30);

          font-weight: 900;
          color: @color_logo_background;
        }
      }
    }

    &__subtitle {
      // font-size: 18px;
      .adaptive-prop(font-size, 18, 14);

      font-family: 'OpenSans';
      font-weight: 400;
      text-align: right;
      color: @color_font_dark;
    }

    .rmbt-impex-button {
      align-self: flex-end;
      .adaptive-prop(width, 220, 150);
      .adaptive-prop(height, 50, 30);
      min-height: 30px;
      .adaptive-prop(font-size,16, 12);
      .adaptive-prop(margin-top, 10, 5);

      cursor: pointer;
    }
  }

  .background-picture {
    position: absolute;
    right: 0px;
    top: 0px;
    .adaptive-prop(width, 1100, 200);
    height: 100%;

    z-index: 2;
    background-color: #ffffffff;

    span {
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 4;
      background-color: rgba(255, 255, 255, 0);
      filter: blur(20px);
    }

    &::after {
      content: '';
      position: absolute;
      width: 120%;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 3;

      background-color: rgba(158, 157, 155, 0.3);
    }

    &::before {
      content: '';
      position: absolute;
      width: 120%;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 4;
      background: rgb(245, 245, 249);
      background: linear-gradient(
        47deg,
        rgba(245, 245, 249, 1) 0%,
        rgba(255, 255, 255, 1) 33%,
        rgba(247, 247, 247, 0) 100%
      );
    }
  }
}
