.rmbt-search-modal {
  &__trigger {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;

    background-color: #fff !important;
    padding: 7px;
    border-radius: 50%;
    border: 1px solid @color_logo_background;

    .adaptive-prop(width, 20, 30);
    .adaptive-prop(height, 20, 30);

    .to(767px,{
      right: 70px;
    });

    svg {
      width: 100%;
      height: 100%;

      fill: @color_logo_background;
      stroke: @color_logo_background;
      stroke-width: 2px;
      border-radius: 50%;
    }
  }

  &__close-window {
    top: 15px;
    right: 15px;
    .adaptive-prop(width, 35, 25);
    .adaptive-prop(height, 35, 25);

    &::after,
    &::before {
      height: 4px;
      background-color: @color_header_background_light;
    }
  }

  &__body {
    max-width: unset;
    height: unset;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 15px;
    width: 50%;

    .to(1024px,{
      width: 80%;
    });

    .to(768px,{
      width: 90%;
      aspect-ratio: 5/4;
    });
  }

  &__content {
    .adaptive-prop(margin-top, -70, 0);
  }

  &__title {
    .adaptive-prop(margin-bottom, 50, 30);
    .adaptive-prop(font-size, 34, 18);
  }

  &__text {
  }

  &__form {
    width: 100%;

    input {
      display: block;
    }

    input[type='search'] {
      width: 100%;
      margin-bottom: 25px;

      font-family: OpenSans;
      .adaptive-prop(font-size, 20, 16);
      color: @color_header_background_light;

      height: 40px;
      width: 100%;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid #b3b3b3;
      box-shadow: 1px 5px 15px 0px #d5c9c9;
      text-align: center;

      &:focus {
        outline: none;
        border: 1px solid #ffa74b;
        box-shadow: 0 0 0 1px @color_title_light;
      }
    }

    input[type='submit'] {
      margin: 0 auto;
    }
  }
}
